.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.new{
  position: relative;
  width: 620px;
  top: 10px;
  left: 310px;
  padding: 7px;
  
  margin: 0;
  background-color: #A1C6EA;
  box-shadow: 0.2em 0.2em 0 0.2em rgba(0,0,0,0.17);
  

  


}
ul.list{
  list-style-type: none;
  padding: 0;
  text-align: left;
  word-spacing: 4rem;
  padding:4px;
  
  
  overflow-x: hidden;
  overflow-y: scroll;
  text-align:justify;

}
ol {
  background: #ff9999;
  padding: 20px;
}

ul {
  background: #3399ff;
  padding: 5px;
}
ol li {
  background: #ffe5e5;
  padding: 5px;
  margin-left: 35px;
}


ul li {
  background: #cce5ff;
  margin: 5px;
  
  
}
p{
  word-spacing: 20rem;
  text-align: left;
  background: #3399ff;
  padding: 5px;
  font-weight: bold;
  

  
}

head.thicker{
  font-weight: 1000;
}

